<section>
  <div class="container">
    <%= form_for(post) do |f| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= f.file_field :image, class: 'form-control-file' %>
      </div>

      <div class="field form-group">
        <%= f.label :head %>
        <%= f.text_field :head, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :body %>
        <%= f.cktext_area :body, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</section>