<%= render 'layouts/navbar' %>

<section>
	<div class="container">
		<p id="notice"><%= notice %></p>
		<%#= @post.image.url %>
		<h1 style="text-align: center;"> <%= @post.head %></h1>

	  	<%= raw @post.body %>

		<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default' %> |
		<%= link_to 'Back', posts_path, class: 'btn btn-default' %>
	</div>
</section>